<div class="dialogContent">
  <div class="dialogTitle">
    查看数据
    <a href="javascript:void(0)" class="closeIcon" (click)="closeDialog()">×</a>
  </div>
  <div class="dialogMain bottom0">
    <div class="title">选择 6 项</div>
    <div class="title">支付订单量总计：1000000000</div>
    <div class="tableBox">
      <div class="containerDiv">
        <table>
          <tr>
            <td>城市</td>
            <td>支付订单量</td>
          </tr>
          <tr>
            <td>城市</td>
            <td>支付订单量</td>
          </tr>
          <tr>
            <td>城市</td>
            <td>支付订单量</td>
          </tr>
          <tr>
            <td>城市</td>
            <td>支付订单量</td>
          </tr>
          <tr>
            <td>城市</td>
            <td>支付订单量</td>
          </tr>
          <tr>
            <td>城市</td>
            <td>支付订单量</td>
          </tr>
          <tr>
            <td>城市</td>
            <td>支付订单量</td>
          </tr>
          <tr>
            <td>城市</td>
            <td>支付订单量</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
