<div class="wrap" id="wrap{{id}}">
  <div id="first{{id}}" [ngStyle]="{'font-size':singleTextData.configInfo.fontSize+'px',
  'color':singleTextData.configInfo.fontColor,'font-weight':singleTextData.configInfo.fontBold,
  'font-family':singleTextData.configInfo.fontFamily}">
     {{singleTextData.resourceName}}
  </div>
  <div id="last{{id}}" [ngStyle]="{'font-size':singleTextData.configInfo.fontSize+'px',
  'color':singleTextData.configInfo.fontColor,'font-weight':singleTextData.configInfo.fontBold,
  'font-family':singleTextData.configInfo.fontFamily}">
    {{singleTextData.resourceName}}
  </div>
</div>