.videoBgBox {
    background-color: rgba(62, 142, 215, 0.13);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../../../assets/images/component/mediaHistoryvideoIcon.svg');
    background-size: 30%;
}
