<div class="scrollDiv" id="scroll">
    <div class="first" id="first" [ngStyle]="{'font-size':scrollTopData.configInfo.fontSize+'px',
        'color':scrollTopData.configInfo.fontColor,'font-weight':scrollTopData.configInfo.fontBold,
        'font-family':scrollTopData.configInfo.fontFamily,'line-height':scrollTopData.configInfo.lineHeight+'px'}">
        {{scrollTopData.resourceName}}
    </div>
    <div class="second" id="second" [ngStyle]="{'font-size':scrollTopData.configInfo.fontSize+'px',
        'color':scrollTopData.configInfo.fontColor,'font-weight':scrollTopData.configInfo.fontBold,
        'font-family':scrollTopData.configInfo.fontFamily,'line-height':scrollTopData.configInfo.lineHeight+'px'}">
    </div>
</div>