$borderColor:#D4DFEB;
$lightGreen:#F7FAFF;
$lightGray:#E6EAEF;
$blueColor:#5dbfe2;
$headerColor:#283443;
$themeColor:#334253;
$titleBg:#475167;
$titleColor:#c0c5d2;
$borderBlue:#54c8fd;
$shadowColor:#d9d9d9;
$secondBlueColor:#1296DB;
$activeColor:#37C2F5;
$activeBg:#1e2d40;
$hoverBg:#29384a;
