// 仪表盘页面、场景预览页面、新建场景页面样式
@import "common";
$imgUrl: "../images/";
$leftWidth :260px; // 左侧列表的宽度
$rightWidth :260px; // 右侧列表的宽度
$titleHeight:50px; // 标题区域的高度
// 整体布局左中右的样式
.page-box {
    .page-left {
        position: absolute;
        bottom: 0px;
        top: 0px;
        width: $leftWidth;
        left: 0;
        z-index: 1;
    }
    .page-center {
        position: absolute;
        bottom: 0px;
        top: 0px;
        left: $leftWidth;
        right: $rightWidth;
        z-index: 2;
        &.no-right,
        &.fullscreen {
            right: 0;
        }
    }
    .page-right {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: $rightWidth;
        z-index: 1;
    }
}

// 中间内容的样式
.center-container {
    background-color: #fff;
    .layout-container {
        top: 50px;
        &.bottom30 {
            bottom: 30px; // 因为加了放大缩小在下方
        }
        &.top0 {
            top: 0; // 新建场景页面需要,操作按钮放到了页面最上方
        } // 全屏
        &.fullscreen {
            top: -50px;
            left: -260px;
            bottom: 0;
            z-index: 9;
        } // 仪表盘的背景为浅色
        &.panel-container {
            background-color: #F6F6F7;
        } // 场景的背景颜色为深色
        &.scene-container {
            background-color: #192539;
            background-repeat: repeat;
            background-image: url(#{$imgUrl}component/sceneBoxBg.svg);
        }
    }
}

.layout-main {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    &.daping {
        overflow: auto;
        /*滚动条样式*/
        &::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 8px;
            /*高宽分别对应横竖滚动条的尺寸*/
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px #656B72;
            background: #656B72;
        }
        &::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 0;
            background: rgba(0, 0, 0, 0.1);
        }
    }
    .dataBox {
        position: relative;
        width: 1920px;
        height: 1080px;
        transform: scale(1);
        transform-origin: 0 0;
        background-color: rgb(16, 38, 58);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, .5) 0 0 30px 0;
    }
} // 操作按钮盒子（编辑/全屏/保存等）
.operation-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $titleHeight;
    padding: 0 20px;
    overflow: hidden;
    border-bottom: 1px solid $borderColor; // 场景页面
    &.scene {
        border-bottom: 1px solid #000E24;
        background-color: #192539;
        .operation-right {
            color: #A1B1C5;
        }
    } // 新建场景页面
    &.createScene {
        height: 42px;
        border-bottom: 1px solid #192539;
        background-color: #283443;
        .operation-right {
            color: #A1B1C5;
        }
    } // 右侧区域
    .operation-right {
        height: 100%;
        display: flex;
        align-items: center;
        span {
            float: left;
            height: 30px;
            line-height: 30px;
            padding-left: 28px;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-position: 6px center;
            cursor: pointer;
            &:not(.disabled):hover {
                color: $secondBlueColor;
            }
            &:last-child {
                margin-right: 0;
            } // 保存
            &.saveScenceIcon {
                cursor: pointer;
                background-image:url(#{$imgUrl}saveIcon.svg);
                &:active {
                    top: 2px;
                }
            } // 应用
            &.applyScenceIcon {
                cursor: pointer;
                padding-left: 28px;
                background-size: 18px;
                background-image:url(#{$imgUrl}applyScenceBlueIcon.svg);
                &.disabled {
                    background-image:url(#{$imgUrl}applyScenceIcon.svg);
                }
            } // 实时交互
            &.interactionIcon {
                cursor: pointer;
                background-size: 18px;
                background-image:url(#{$imgUrl}interactionBlueIcon.svg);
                &.disabled {
                    background-image: url(#{$imgUrl}interactionIcon.svg);
                }
            }
            &.saveIcon {
                background-image: url(#{$imgUrl}saveIcon.svg);
            }
            &.cancelIcon {
                background-image: url(#{$imgUrl}cancel.svg);
            }
            &.refreshIcon {
                background-image: url(#{$imgUrl}refreshIcon.svg);
            }
            &.exportIcon {
                background-image: url(#{$imgUrl}exportIcon.svg);
            }
            &.editIcon {
                background-image: url(#{$imgUrl}editIcon.svg);
            }
            &.fullscreenIcon {
                background-image: url(#{$imgUrl}fullscreenIcon.svg);
                &.disabled {
                    background-image: url(#{$imgUrl}fullscreenIconGray.svg);
                }
            }
            &.exitFullscreenIcon {
                background-size: 20px;
                background-image: url(#{$imgUrl}exitFullscreenIcon.svg);
            }
            &.disabled {
                cursor: not-allowed;
            }
        }
    }
}

// 放大缩小
.zoomInOutBox {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #283443;
    .zoomInIcon,
    .zoomOutIcon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .zoomInIcon {
        background-image: url(#{$imgUrl}zoomIn.svg);
        &:hover {
            background-image: url(#{$imgUrl}zoomInBlue.svg);
        }
    }
    .zoomOutIcon {
        background-image: url(#{$imgUrl}zoomOut.svg);
        &:hover {
            background-image: url(#{$imgUrl}zoomOutBlue.svg);
        }
    }
}

// 场景中每个数据的盒子
.dataItemBox {
    position: absolute;
    cursor: move;
    border: 1px solid transparent;
    &:not(.sceneDataItemData):hover,
    &.active {
        border: 1px solid #51afff;
    }
    .borderItem,
    .imageItem {
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        z-index: 1;
    }
    .chartItem {
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        z-index: 1;
        overflow: hidden;
    }
}
