@import "../../../assets/css/common";
@import "../../../assets/css/commonDialog";
$imgUrl: "../../../assets/images/";
.dialogMain {
    padding: 20px 20px 0;
    line-height: 36px;
    select{
        width: 270px;
        height:36px;
        line-height: 34px;
        border:1px solid #ccc;
        border-radius: 3px;
    }
}
