<div class="settingBox">
  <div class="settingTitle">
    配置信息
  </div>
  <div class="position" style="top:40px;">
    <div class="containerDiv">
      <h2 class="title">文本样式</h2>
      <div class="settingContain">
        <div class="settingDiv textareaDiv">
          <label class="settingName">段落文本</label>
          <textarea type="text" class="settingValue textareaValue" [(ngModel)]="scrollTopData.resourceName" (change)="changeData()">
              </textarea>
        </div>
        <div class="settingDiv">
          <label class="settingName">字体</label>
          <select class="settingValue" [(ngModel)]="scrollTopData.configInfo.fontFamily" (change)="changeData()">
            <option value="微软雅黑">微软雅黑</option>
            <option value="宋体">宋体</option>
            <option value="黑体">黑体</option>
            <option value="隶书">隶书</option>
          </select>
        </div>
        <div class="settingDiv">
          <label class="settingName">字号</label>
          <input class="settingValue" type="number" [(ngModel)]="scrollTopData.configInfo.fontSize" (change)="changeData()">
        </div>
        <div class="settingDiv">
          <label class="settingName ">字体颜色</label>
          <div class="settingValue colorPickerDiv">
            <span class="colorSpan" [ngStyle]="{'background-color': scrollTopData.configInfo.fontColor}"></span>
            <input class="colorPicker" readonly [(colorPicker)]="scrollTopData.configInfo.fontColor" [(ngModel)]="scrollTopData.configInfo.fontColor"
              [cpPosition]="'bottom'" (colorPickerChange)="changeData()" />
          </div>
        </div>
        <div class="settingDiv">
          <label class="settingName">字体粗细</label>
          <select class="settingValue" [(ngModel)]="scrollTopData.configInfo.fontBold" (change)="changeData()">
            <option value="normal">正常</option>
            <option value="bold">加粗</option>
          </select>
        </div>
        <div class="settingDiv">
          <label class="settingName"  >行高</label>
          <input class="settingValue" [(ngModel)]="scrollTopData.configInfo.lineHeight" type="number">
        </div>
      </div>
      <h2 class="title">配置</h2>
      <div class="settingContain">
        <div class="settingDiv">
          <label class="settingName">动画间隔</label>
          <input type="number" class="settingValue" [(ngModel)]="scrollTopData.configInfo.timeInterval" (change)="changeData()">
        </div>
        <!-- <div class="settingDiv">
          <label class="settingName">速度</label>
          <input type="number" class="settingValue" [(ngModel)]="scrollTopData.configInfo.speed" (change)="changeData()">
        </div> -->
      </div>
    </div>
  </div>
</div>