<div class="back-end">
    <ul class="nav-menu-list">
        <li routerLink="/dashboard/bigScreen/backSetting/screenConnect" routerLinkActive="active">
            <i class="connect-icon icon"></i>
            连接大屏
        </li>
        <li routerLink="/dashboard/bigScreen/backSetting/screenTheme" routerLinkActive="active">
            <i class="theme-icon icon"></i>
            主题配置
        </li>
    </ul>
    <div class="back-end-content position">
        <router-outlet></router-outlet>
    </div>
</div>