<div class="settingBox">
  <div class="settingTitle">
    场景信息
  </div>
  <h2 class="title">背景颜色</h2>
  <div class="settingContain">
    <div class="settingDiv">
      <label class="settingName">背景颜色</label>
      <div class="settingValue colorPickerDiv">
        <span class="colorSpan" [ngStyle]="{'background-color': bgData.bgColor}"></span>
        <input class="colorPicker" readonly [(colorPicker)]="bgData.bgColor" [(ngModel)]="bgData.bgColor" [cpPosition]="'bottom'" (colorPickerChange)="changeData()"
        />
      </div>
    </div>
  </div>

  <h2 class="title">背景图片</h2>
  <div class="position settingContain" style="top:190px;">
    <div class="containerDiv">
      <ul class="bgList">
        <li [ngClass]="{'active': bgData.bgUrl===item.resourceInfo}" *ngFor="let item of bgItems;let i=index" (click)="selectBg(item)">
          <span class="checkbox" *ngIf="bgData.bgUrl===item.resourceInfo">
            <input class="check" type="checkbox" id="channel_checkDiv{{i}}" disabled checked/>
            <label for="channel_checkDiv{{i}}" class="check-label white"></label>
          </span>
          <div class="bgBox" [ngStyle]="{'background-image': 'url('+appSer.appsetting.viewServerUrl+item.resourceInfo+')'}">
          </div>
          <div class="bgName overEllipsis" title="{{item.resourceName}}">{{item.resourceName}}</div>
        </li>
      </ul>
    </div>
  </div>

</div>
