.pollingBox{
    width: 100%;
    height: 100%;
}
.swiper-container{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
.swiper-nodata{
    background: url("../../../../../assets/images/component/mediaPollingIcon.svg") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: contain;
}